.reports {
  border-collapse: collapse;
  width: 100%;
}

.reports td,
.reports th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 50px;
  text-align: center;
}

.reports tr:nth-child(even) {
  background-color: #f2f2f2;
  text-align: center;
}

.reports tr:hover {
  background-color: #ddd;
}

.reports th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2c3e50;
  color: white;
  text-align: center;
}

.reports__header-date {
  cursor: pointer;
}

.reports__footer {
  font-weight: 700;
  font-size: 22px;
}
